<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="advertisemeDb" providerName="System.Data.SqlClient" connectionString="Initial Catalog=advertisemeh; Data Source=ROS;Integrated Security=True;" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="servicebehaviors">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    <endpointBehaviors>
      <behavior name="web">
        <webHttp/>
      </behavior>
    </endpointBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="servicebehaviors" name="WcfServiceAdvertiseMe.ServiceAdvertiseMe">
        <endpoint address="" contract="WcfServiceAdvertiseMe.IServiceAdvertiseMe" binding="webHttpBinding" behaviorConfiguration="web">
          
        </endpoint>
      </service>
    </services>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <log4net>
		<!-- This appender is for everything -->
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<!-- Logs will be saved here -->
			<file value="C:\AdvertiseMe\AdvertiseMeLog.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="2MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date, [%thread], %level %logger- %message %exception%newline" />
			</layout>
		</appender>
		<!-- This appender is just for error -->
		<appender name="ErrorRollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<!-- Logs will be saved here -->
			<file value="C:\AdvertiseMeLog.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="2MB" />
			<staticLogFileName value="true" />
			<evaluator type="log4net.Core.LevelEvaluator">
				<threshold value="DEBUG" />
			</evaluator>
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="WARN" />
				<levelMax value="FATAL" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date, [%thread], %level%newline%logger-%newline%message%newline%exception%newline" />
			</layout>
		</appender>
		<root>
			<!-- OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
			<appender-ref ref="RollingFileAppender" />
			<appender-ref ref="ErrorRollingFileAppender" />
		</root>
	</log4net>
</configuration>
